@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{   

    .container_form{
        @apply mx-3 rounded-xl bg-white shadow-xl
        /* sm:640px */
        /* md:768px */
        /* lg:1024px */
        /* xl:1280px */
        /* 2xl:1536px */
        sm:bg-green-600 sm:mx-20 
        lg:bg-orange-500 lg:flex lg:p-3 lg:w-4/5  lg:space-x-6
        xl:bg-blue-500  xl:w-3/5 
       
    }

    /* tirar setar do input number */
    .input_number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input {
        @apply p-1 border border-solid border-2 border-gray-400 outline-none rounded-xl
        cursor-pointer
        hover:border-gray-700 hover:shadow-lg
    }

    .button{
        @apply p-1 my-3 border border-solid bg-gray-400 rounded-xl
        hover:bg-gray-500 hover:shadow-lg border-none
    }

    .container_calcular{
        @apply pt-4 px-3 rounded-xl flex flex-col lg:w-1/2  
    }

}