@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{   
 

    .container_form{
    
        /* sm:640px */
        /* md:768px */
        /* lg:1024px */
        /* xl:1280px */
        /* 2xl:1536px */

        @apply lg:h-full lg:w-full lg:flex lg:justify-center 
    }
    
    .titulo{
        @apply my-3 text-center text-xl font-bold 
    }
    
    .container_calculadoras{
        @apply mt-10 p-3 lg:flex lg:flex-col lg:bg-blue-500 lg:w-1/4 lg:h-5/6 xl:w-1/4 rounded-xl xl:bg-green-500 
    }
    label{
        @apply mt-2 mb-1 ml-2
    }




    .titulo_historico{
        @apply text-base font-bold text-center
    }

    /* tirar setar do input number */
    .input_number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input, select {
        @apply p-1 border border-solid border-2 border-gray-400 outline-none rounded-xl text-center 
        cursor-pointer
        hover:border-gray-700 hover:shadow-lg 
    }

    button{
        @apply p-1 my-3 border border-solid bg-gray-400 rounded-xl
        hover:bg-gray-500 hover:shadow-lg border-none
    }

  

    /* informações formula */
    .formula {
        @apply relative 
    }
    
    .informacoes_formula {
        top: -1100%;
        right: -105%;

        @apply hidden lg:hidden lg:absolute lg:z-10 lg:w-full lg:bg-gray-700 lg:text-white lg:p-2 lg:rounded-xl lg:select-text	lg:text-justify
    }

    .formula:hover .informacoes_formula {
        @apply lg:block lg:opacity-90 lg:visible
    }
}